{% macro print_build_state(build_state) %}
    <ul>
        {% for state in build_state %}
            <li>{{ state.name }}:
                {{ state.time|date('d.m-H:i:s') }}</li>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro build_repo_link(repository) %}
    <a href="https://github.com/{{ repository.name }}" target="_blank">{{ repository.name }}</a>
{% endmacro %}

{% macro build_commit_link(repository) %}
    <a href="https://github.com/{{ repository.name }}/commit/{{ repository.revisionNumber }}"
       target="_blank">{{ repository.revisionNumber }}</a>
{% endmacro %}

{% macro build_link(build_job) %}
    {% if build_job.isDone() %}
        <a href="#">Output</a>
    {% else %}
        <a href="{{ path('cancel_buildjob', {'buildJob': build_job.id}) }}">Cancel</a>
    {% endif %}
{% endmacro %}

{% import _self as table %}

<table summary="Table of builds and their status" id="buildtable">
    <thead>
    <tr>
        <th>Id</th>
        <th>Repository</th>
        <th>Commit-ID</th>
        <th>Status</th>
        <th>Cancel</th>
    </tr>
    </thead>
    <tbody>
    {% for build_job in build_jobs %}
        <tr class="state-{{ build_job.state.name }}">
            <td>{{ build_job.id }}</td>
            <td>{{ table.build_repo_link(build_job.repository) }}</td>
            <td>{{ table.build_commit_link(build_job.repository) }}</td>
            <td>{{ table.print_build_state(build_job.states) }}</td>
            <td class="job_cancel">
                {{ table.build_link(build_job) }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>